
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h3 class="text-danger">ACCESS DENIED</h3>
    <h5 class="text-danger">ONLY ADMINS HAVE THE RIGHT TO VIEW THIS PAGE</h5>
</div>
